@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
}

:root {
  --primary-color: #50d890;
  --optional-color: #3c79f5;
  --white-color: #ffffff;
  --black-color: #282c35;
}

.container {
  width: 90%;
  margin: 0 auto;
  padding-top: 4rem;
}

@media screen and (min-width: 1880px) {
  .container {
    width: 68%;
  }
}

@media screen and (min-width: 1880px) {
  .container {
    width: 68%;
  }
}

h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
}

h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}

h3 {
  font-weight: 700;
  font-size: 13px;
  line-height: 16px;
}

p {
  font-weight: 400;
  font-size: 13px;
}

button {
  background-color: var(--optional-color);
  color: var(--white-color);
  padding: 1rem;
  border: none;
  border-radius: 12px;
  transition: 0.5s all ease-in-out;
}

button:hover {
  background-color: var(--black-color);
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--white-color);
}

@media screen and (max-width: 568px) {
  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 14px;
  }

  h3 {
    font-size: 11px;
  }

  p {
    font-size: 10px;
  }
}

/* TOP BAR CSS */
.top-bar {
  width: 100%;
  background-color: var(--black-color);
  height: 6vh;
  display: flex;
  align-items: center;
}

.top-bar .container {
  padding-top: 0;
}

.top-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-text {
  width: 85%;
}

.top-bar-text p {
  color: var(--white-color);
  text-align: center;
}

.top-bar-lang {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lang-text p {
  color: var(--white-color);
}

.flag-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.6rem;
}

.flag-div img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.colen-div {
  margin: 0 0.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--white-color);
  padding: 0.5px;
  height: 22px;
}

/* NAVBAR CSS */
.navbar {
  width: 100%;
  background-color: var(--white-color);
  height: 12vh;
  box-shadow: 0px 3px 10px 0px #2b2b2b27;
  display: flex;
  align-items: center;
}
.navbar .container {
  padding-top: 0;
}

.nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo h2 a {
  color: var(--black-colors) !important;
}

.nav-ul {
  display: flex;
}

.nav-ul li {
  list-style: none;
}

.nav-ul li a {
  text-decoration: none;
  color: var(--black-color);
  font-size: 14px;
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin: 0 0.4rem;
}

.nav-ul li a:hover {
  background-color: var(--black-color);
  color: var(--white-color);
  border-radius: 15px;
  cursor: pointer;
}

.search-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-search-bar {
  margin-right: 1rem;
}

.nav-search-bar input[type='text'] {
  width: 18vw;
  height: 5vh;
  padding: 0.2rem 0.8rem;
  border: 1px solid #2b2b2b27;
  border-radius: 12px;
}

.nav-search-bar input[type='text']:focus {
  border: 1px solid var(--black-color);
  box-shadow: 0 0 10px #2b2b2b27;
  outline: none;
}

.cart-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  color: var(--black-color);
  font-size: 22px;
}

/* BANNER CSS */
.banner-wrapper {
  display: flex;
}

.banner-categories {
  width: 50%;
}

.banner-categories h2 {
  margin-bottom: 1rem;
}

.sidebar {
  width: 100%;
  height: 90%;
  padding: 1.2rem;
  border: 1px solid #2b2b2b27;
  margin-right: 1rem;
}

.banner-slider {
  width: 80%;
  padding: 0 2rem;
}

.slide-div {
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.slide-div img {
  border-radius: 22px;
  cursor: pointer;
}

.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: var(--black-color);
}

.category {
  padding: 1.2rem;
  margin: 0.4rem 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  border-radius: 20px;
  transition: 0.5s all ease-in-out;
}

.category:hover {
  background-color: #2b2b2b27;
  /* border: 1px solid var(--black-color); */
  transition: 0.5s all ease-in-out;
}

.submenu {
  margin-top: 5px;
  list-style-type: none;
  padding: 0;
}

.submenu li {
  text-align: center;
  padding: 0.8rem;
  margin: 0.4rem 0;
  cursor: default;
  font-size: 12px;
  color: var(--black-color);
  font-weight: 600;
  transition: 0.5s all ease-in-out;
}

.submenu li:hover {
  cursor: pointer;
  color: var(--white-color);
  background-color: var(--black-color);
  border-radius: 12px;
  transition: 0.5s all ease-in-out;
}

/* CSS BROWSE BY CATEGORY */
.section-tag {
  display: flex;
  align-items: center;
}

.tag-shape {
  padding: 1rem 0.5rem;
  background-color: var(--optional-color);
  border-radius: 3px;
  margin-right: 0.8rem;
}

.tag-title h3 {
  color: var(--optional-color);
}

.section-title {
  margin: 2rem 0;
}

.section-title h2 {
  font-size: 32px;
}

.browse-category-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.browse-category-items {
  padding: 2rem;
  border: 1px solid #2b2b2b27;
  width: 350px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}

.browse-category-items:hover {
  background-color: var(--optional-color);
  transition: 0.5s all ease-in-out;
}

.category-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.category-item svg {
  width: 36px;
  height: auto;
  color: var(--black-color);
  margin-bottom: 0.8rem;
}

.category-item h2 {
  color: var(--black-color);
}

.feature-banner-img {
  width: 100%;
}

/* EXPLORE OUR PRODUCTS CSS */
.our-products-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.our-products-item {
  width: 280px;
  /* height: 250px; */
}

.our-products-item img {
  width: 100%;
  /* height: 100%; */
  border-radius: 8px;
}

.our-products-item button {
  width: 100%;
  background-color: var(--black-color);
  color: var(--white-color);
  border: none;
  padding: 0.6rem;
  border-radius: 8px;
  margin-top: 0.3rem;
}

.our-products-item h3 {
  margin-top: 0.8rem;
}

.our-products-item h3 a {
  color: var(--black-color) !important;
}

.price-rating {
  display: flex;
  align-items: flex-start;
  margin-top: 0.4rem;
}

.ratings {
  margin: 0 0.6rem;
}

.rating-stars {
  color: #ffad33;
}

.number-of-ratings {
  color: var(--black-color);
  opacity: 0.8;
}

.mb-items {
  margin-bottom: 2rem;
}

.view-all {
  width: 100%;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all button {
  background-color: var(--optional-color);
  color: var(--white-color);
  width: 18%;
  padding: 1rem;
  border: none;
  border-radius: 12px;
  transition: 0.5s all ease-in-out;
}

.view-all button:hover {
  background-color: var(--black-color);
  transition: 0.5s all ease-in-out;
  cursor: pointer;
}

/* OurFeatureSection CSS */
.features-for-customers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 4rem;
}

.feature-item-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.feature-items {
  background-color: #2b2b2b27;
  padding: 0.8rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.feature-item {
  padding: 1.8rem;
  border-radius: 50%;
  background-color: var(--black-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
}

.feature-item svg {
  color: var(--white-color);
  font-size: 48px;
}

/* .feature-item h2 {
  margin-top: 1rem;
  text-align: center;
} */

.feature-item-title {
  text-align: center;
  margin-top: 1rem;
  color: var(--black-color);
  width: 100%;
}

.feature-item-des {
  margin-top: 0.4rem;
  text-align: center;
  color: var(--black-color);
}

/* FOOTER CSS */
.footer {
  width: 100%;
  background-color: var(--black-color);
}

.footer .container {
  padding: 4rem 0;
}

.footer-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.footer-inner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer-inner-content {
  width: 50%;
}

.footer-inner-content h3 {
  margin-bottom: 1.2rem;
  color: var(--white-color);
  text-align: left;
  width: fit-content;
}

.footer-inner-content p {
  margin-bottom: 0.8rem;
  color: var(--white-color);
  text-align: left;
  width: fit-content;
}

.footer-item-width {
  width: 30%;
}

/* SIGN UP CSS */
.signup-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signup .container {
  padding: 4rem 0rem;
}

.signup-left {
  width: 100%;
}

.signup-left img {
  width: 80%;
  height: auto;
}

.signup-right {
  display: flex;
  /* justify-content: flex-start;
  align-items: center; */
  flex-direction: column;
  width: 100%;
}

.signup-right h1 {
  margin-bottom: 1rem;
}

.signup h3 {
  margin-bottom: 1rem;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-form input {
  margin-bottom: 0.8rem;
  width: 70%;
  background-color: transparent;
  color: var(--black-color);
  padding: 0.8rem;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #2b2b2b27;
  font-weight: 500;
}

.signup-form input:focus {
  outline: none;
  border-bottom: 1px solid var(--black-color);
}

.signup-form input[type='submit'] {
  border: none;
  background-color: var(--optional-color);
  color: var(--white-color);
}

.signup-form button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  background-color: transparent;
  color: var(--black-color);
  padding: 0.8rem;
  font-size: 14px;
  font-weight: 500;
  border: 1px solid #2b2b2b27;
  margin-bottom: 0.8rem;
}

.signup-form button svg {
  font-size: 18px;
  margin-right: 0.4rem;
}

.signup-form p a {
  margin-left: 0.4rem;
  color: var(--optional-color);
}

/* CONTACT CSS */
.contact .container {
  padding: 4rem 0rem;
}

.contact-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.contact-left {
  width: 50%;
  padding: 1.4rem;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
}

.contact-right {
  width: 100%;
  padding: 1.4rem;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
  margin-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-left-content {
  padding: 2rem;
}

.contact-left-content p {
  margin-top: 0.8rem;
}

.contact-icon {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.contact-icon h2 {
  margin-left: 0.8rem;
}

.icon-inner {
  padding: 0.6rem;
  background-color: var(--optional-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-inner svg {
  font-size: 22px;
  color: var(--white-color);
}

.border-top-contact {
  border-top: 1px solid #2b2b2b27;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.form-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1rem;
}

.form-group input {
  padding: 0.8rem;
  background-color: #2b2b2b27;
  border: none;
  border-radius: 4px;
}

.form-group input:focus {
  outline: 1px solid var(--black-color);
}

.contact-form input {
  padding: 0.8rem;
  background-color: #2b2b2b27;
  border: none;
  border-radius: 4px;
}

.contact-form textarea {
  padding: 0.8rem;
  background-color: #2b2b2b27;
  border: none;
  margin-bottom: 1rem;
  resize: vertical;
  height: 150px;
  border-radius: 4px;
}

.contact-form textarea:focus {
  outline: 1px solid var(--black-color);
}

.contact-form input[type='submit'] {
  padding: 0.8rem;
  background-color: var(--optional-color);
  border: none;
  width: 30%;
  border-radius: 4px;
  color: var(--white-color);
}

/* CART CSS */
.cart .container {
  padding: 4rem 0;
}

.screen-title {
  margin-bottom: 2rem;
}

.cart-bar {
  padding: 2rem;
  box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-btn button {
  width: 20%;
  margin-top: 0.2rem;
}

.v-hidden {
  visibility: hidden;
}

.product-quantity {
  display: flex;
  align-items: center;
}

.product-quantity h3 {
  margin: 0 0.8rem;
}

.product-img-text {
  display: flex;
  align-items: center;
}

.product-img-text h3 {
  margin-left: 0.4rem;
}

.product-img-text img {
  width: 50px;
  height: auto;
}

.product-quantity svg {
  font-size: 22px;
  color: var(--black-color);
}

.product-quantity svg:hover {
  color: var(--optional-color);
  cursor: pointer;
}

.del-btn-icon {
  color: red;
}

.del-btn-icon:hover {
  cursor: pointer;
}

.cart-total {
  padding: 2rem;
  border: 1px solid var(--black-color);
  margin-top: 2rem;
}

.price-bars {
  padding: 1.4rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.borders {
  border-bottom: 1px solid #2b2b2b27;
  border-top: 1px solid #2b2b2b27;
}

.less-fw {
  font-weight: 500;
}

.check-out-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

.check-out-btn button {
  width: 18%;
}

/* CHECKOUT SCREEN CSS */
.checkout .container {
  padding: 4rem 0rem;
}

.checkout-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.checkout-content-left {
  width: 100%;
}

.biiling-form {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.checkout-content-right {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 1rem;
}

.biiling-form input {
  margin-bottom: 1.4rem;
  padding: 0.8rem;
  border: none;
  background-color: #2b2b2b27;
  border-radius: 4px;
}

.biiling-form input:focus {
  outline: 1px solid var(--black-color);
}

.checkout-content-right div {
  margin-bottom: 1rem;
}

.checkout-products-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-product-img {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkout-product-img img {
  width: 50px;
  margin-right: 2rem;
}

.checkokut-subtotal-fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-subtotal .borders {
  padding: 1rem 0;
}

.billing-selection {
  display: flex;
  align-items: center;
}

.billing-selection input {
  margin-right: 0.6rem;
  accent-color: var(--optional-color);
}

.billing-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}

.billing-icons img {
  margin-left: 0.6rem;
  width: 28px;
}

/* PRODUCT COMPONENT CSS */
.product-comp .container {
  padding: 4rem 0;
}

.product-comp-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-comp-content {
  width: 100%;
  height: 100%;
}

.product-img {
  width: 85%;
  height: 100%;
}

.product-img img {
  width: 90%;
  /* height: 100%; */
}

.product-details-wrapper {
  width: 75%;
}

.product-comp-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.product-comp-details .ratings {
  margin-left: 0 !important;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.product-comp-details .ratings .rating-stars {
  font-size: 21px;
}

.product-comp-details .number-of-ratings p {
  font-size: 16px;
}

.divider-prod {
  background-color: var(--black-color);
  padding: 0.05rem;
  margin: 0 0.8rem;
  height: 20px;
}

.prod-stock h3 {
  color: #00ff66;
}

.product-comp-title p {
  text-align: justify;
  line-height: 22px;
  padding: 0.8rem 0;
}

.products-selection-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.product-selection {
  display: flex;
  align-items: center;
}

.selection-item {
  height: 40px;
  width: 60px;
  border: 1px solid #2b2b2b27;
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-item svg {
  font-size: 14px;
}

.for-hover:hover {
  background-color: var(--optional-color);
  cursor: pointer;
}

.for-hover:hover svg {
  color: white;
}

.prod-comp-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.prod-comp-btn button {
  width: 40%;
}

.content-img {
  display: flex;
  justify-content: center;
  align-self: flex-start;
  align-items: center;
}

/* SHOP COMPONENT CSS */
.shop .container {
  padding: 4rem 0;
}

.shop-wrapper {
  display: flex;
}

.search-fiters {
  width: 25%;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 8px;
  border: 1px solid #2b2b2b27;
}

.fiterable-shop {
  width: 100%;
}

.categories {
  margin-bottom: 1.4rem;
}

.categories button {
  width: 20%;
  margin-right: 1rem;
}

.active {
  background-color: var(--black-color);
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.mr-products {
  margin-right: 0.8rem;
  margin-top: 1rem;
  width: 200px;
}

.filters-form h2 {
  padding-bottom: 1rem;
}

.filters-form input {
  margin-bottom: 0.8rem;
}

.filters-form input[type='submit'] {
  border: none;
  background-color: var(--optional-color);
  color: var(--white-color);
  padding: 0.4rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  margin-top: 1rem;
}

.filters-form input[type='submit']:hover {
  background-color: var(--black-color);
  transition: 0.5s all ease-in-out;
}

/* ADMIN LOGIN CSS */
.admin-login .container {
  padding: 4rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* min-height: 50vh; */
}

.admin-login-wrapper {
  width: 100%;
}

.admin-login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0rem;
}

.admin-login-form input {
  margin-bottom: 1.5rem;
  padding: 1rem 1.2rem;
  width: 50%;
}

.admin-login-form input:focus {
  outline: none;
}

.admin-login-form input[type='submit'] {
  width: 30%;
  background-color: var(--optional-color);
  color: var(--white-color);
  border-radius: 6px;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
  border: none;
}

.admin-login-form input[type='submit']:hover {
  background-color: var(--black-color);
  transition: 0.5s all ease-in-out;
}
